#user,#passwd {
    margin: 10px 0px;
}

#login {

    margin: 10px auto;
}

.img-size {
    width: 200px;
    height: 200px;

}
/*#login input {*/
    /*!*display: inline-block;*!*/
    /*margin: 0 auto;*/
/*}*/

body {
    background-image: url("../image/Starry.jpg");
}

#verify_code,#remember {
    margin: 10px 0px;
}