#user,#passwd {
    margin: 10px 0px;
}

#login {
    /*display: block;*/
    width: 84%;
    margin: 10px auto;
    /*text-align: center;*/
}

.img-size {
    width: 200px;
    height: 200px;

}
/*#login input {*/
    /*!*display: inline-block;*!*/
    /*margin: 0 auto;*/
/*}*/

body {
    background-image: url("../image/Starry.jpg");
}

#verify_code,#remember {
    margin: 10px 0px;
}
/*class="input-group-addon"*/
.check_code {
    width: 113px;
    height: 46px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    right: 1px;
    /*top:5px;*/
    padding:5px 6px;
    /*vertical-align: center;*/
    /*margin: auto;*/
    border:1px  solid #112B6D;
    /*background-color: #3c763d;*/
}

.img_position {
    margin: auto auto;

}