<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMDB登录界面</title>
    <!--<link type="text/css" rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">-->
    <!--<link type="text/css" rel="stylesheet" href="../static/css/index.css">-->

    <link type="text/css" rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">-->
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 "></div>
            <img src="{% static 'image/avatar3.jpg' %}" class="img-responsive img-circle center-block img-size" alt="Responsive image">
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 ">
                <form class="form-inline" action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group has-success has-feedback " id="user">
                        <label class="control-label" for="inputSuccess4">UserName：</label>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input type="text" class="form-control user " id="inputSuccess4" aria-describedby="inputSuccess4Status" name="username" placeholder="用户名">
                        </div>
                        <!--<div class="input-group input-group-sm btn-block" style="color:red;"><span class="btn-block  text-center">{{ us_result }}</span></div>-->
                        <span  aria-hidden="true"></span>
                        <span id="inputSuccess4Status" class="sr-only">(success)</span>
                    </div>
                    <div class="form-group has-success has-feedback" id="passwd">
                        <label class="control-label" for="inputGroupSuccess3">PassWord：</label>
                        <div class="input-group input-group-lg ">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input type="password" class="form-control passwd" id="inputGroupSuccess3" aria-describedby="inputGroupSuccess3Status" name="password" placeholder="密码">
                        </div>
                        <span  aria-hidden="true"></span>
                        <span id="inputGroupSuccess3Status" class="sr-only">(success)</span>
                    </div>
                    <div class="form-group has-success has-feedback " id="verify_code">
                        <label class="control-label" for="inputGroupSuccess5">验证码(点击图片刷新)：</label>
                        <div class="input-group input-group-lg ">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-tag"></i>
                            </span>
                            <input type="text" class="form-control " name="check_code" id="inputGroupSuccess5" aria-describedby="inputGroupSuccess5Status" placeholder="验证码" >

                            <span class="check_code">
                                <img class="img_position" src="{% url 'ver_code_display' %}" />
                            </span>
                            <span>{{ ret }}</span>
                            <span  aria-hidden="true"></span>
                            <span id="inputGroupSuccess5Status" class="sr-only">(success)</span>
                        </div>
                    </div>
                    <div class="form-group has-success has-feedback" id="remember">
                        <label class="control-label" >
                            <input type="checkbox" value="1" name="auto_login"> Remember me
                        </label>
                    </div>
                    <div class="form-group has-success has-feedback text-center btn-group-lg " id="login">
                        <input class="btn btn-primary btn-block " type="button" value="login" id="submitdata">
                    </div>
                    <div class="input-group input-group-sm btn-block" style="color:red;"><span class="btn-block text-center">{{ result }}</span></div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">

            </div>
        </div>
    </div>
    <br>
    <script type="text/javascript">
        <!--验证码图片刷新，点击图片或者其他文字都可以，通过click重新赋值img的src属性值，src的地址必须变化，所以加了flag随机数标记-->
        $(
            function () {
                $(".img_position").click(function () {
                    $(".img_position").attr("src","http://127.0.0.1:8022/ver_code_display/?flag="+Math.random());
                }),
                $("#submitdata").click(function () {
                    user = $("#inputSuccess4").val();
                    password = $("#inputGroupSuccess3").val();
                    verify_code = $("#inputGroupSuccess5").val();
                    count = $("#submitdata").parent().next("i").text();
                    if (user=="" && password=="" && verify_code==""){
                        console.log(count)
                        if (count){
                            $("#submitdata").parent().next("i").text("请确认登录信息是否已填全")
                        }
                        else {
                            $("#submitdata").parent().after("<i style='color:red;display: block;text-align: center'>请确认登录信息是否已填全</i>")
                        }
                    }
                    else {
                        if (count){
                            $("#submitdata").parent().next("i").remove()
                        }
                        $.ajax({
                            url:"{% url 'login' %}",
                            type:"post",
                            data:{"username":user,"password":password,"verify_code":verify_code,
                                    "csrfmiddlewaretoken":"{{ csrf_token }}"},
                            success:function (data) {
                                console.log(data)
                            },
                            error:function (error) {
                                console.log(error)
                            }
                        })
                    }
                })
            }
        )
    </script>
</body>
</html>